header 
  ul 
    li: a(href="/") Home
    li: a(href="/list" id="list") List of users
    li: a(href="/login.html") Login
    li: a(href="/register.html") Register
    li: a(href="" id="logout") Logout
