extends layout

block content
  h1 Registration page
  form(action="/register.html" method="POST")
    label(for="email") Email 
    input(type="email" placeholder="Enter Email" name="email" id="email" required)
    label(for="password") Password 
    input(type="password" placeholder="Enter Password" name="password" id="password" required)
    input(class="btn" type="submit" value="Register")